<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Dashboard</title>
  {% load staticfiles %}
<link rel="stylesheet" href="{% static 'userdashboard/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
<script src="{% static 'userdashboard/js/main.js' %}" > </script>
</head>
<body>
  <h1>Manage Users</h1>

  <a href="{% url 'show' %}">Show a user</a>
  <a href="{% url 'dashboard' %}">Go to back to dashboard</a>
  <a href="{% url 'edit' %}">Edit a user</a>
  <a href="{% url 'delete' %}">Remove a user</a>
</body>
</html>
